body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  position: relative;
  background: url('/src/images/pexels-pixabay-53154.jpg') no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: -1; 
}