#photo-input {
  display: none;
}

#photo-form {
  height: 28rem;
  width: 35rem;
  max-width: 100%;
  text-align: center;
  position: relative;
  position: relative;
  z-index: 1; 
}

.label-photo-input {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px dashed black;
}

.upload-button {
  background-color: #FBC4AB;
  border: 2px solid #FFDAB9;
  color: #624612;
  font-size: 2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  font-family: cursive;
}

.drag-active {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.user-image {
  height: 456px;
  width: 345px;
}

@media screen and (max-width: 767px) {
  #photo-form {
    height: auto;
    width: 90%;
  }

  .label-photo-input {
    border: 3px dashed black;
  }

  .upload-button {
    font-size: 1.5rem;
    padding: 10px 15px;
  }

  .user-image {
    max-width: 100%;
    height: auto;
  }

  /* Add any other styles specific to small screens here */
}

/* Medium screens (768px - 991px) */
@media screen and (min-width: 768px) and (max-width: 991px) {
  #photo-form {
    height: 20rem;
    width: 90%;
  }

  .label-photo-input {
    border: 3px dashed black;
  }

  .upload-button {
    font-size: 1.5rem;
    padding: 10px 15px;
  }

  .user-image {
    max-width: 100%;
    height: auto;
  }

  /* Add any other styles specific to medium screens here */
}

/* Large screens (992px and above) */
@media screen and (min-width: 992px) {
  /* Add any styles specific to large screens here */
}