.nav-container {
  display: grid;
  align-items: center;
  position: relative;
  border: 1px solid black;
  grid-template-columns: 1fr auto 1fr;
  background-color: rgba(242, 201, 185, 0.8);
}

.logo {
  width: 200px;
  height: auto;
  grid-column: 2;
  justify-self: center;
}

.link-container {
  display: flex;
  gap: 10px;
  grid-column: 3;
  justify-self: center;
}

.homepage-btn,
.my-field-guide-btn {
  background-color: #FBC4AB;
  border: 2px solid #FFDAB9;
  color: #624612;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  text-decoration: none;
}

.homepage-btn:hover,
.my-field-guide-btn:hover {
  background-color: coral;
  border-color: #888;
}
